.title {
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
}

.group {
	display: flex;
	border: .5px solid black;
	flex-direction: column;
	justify-content: right;
	flex-wrap: wrap;
}
.container_input {
	padding: 0 0 0 0;
	flex: 2;
}

.icon {
	margin-top: 20px;
	width: 20px;
	height: 30px;
	flex: 2;
	fill: brown;
	cursor: pointer;
	outline: none;
}
.icon:hover {
	fill: red;
}