
.title{
	color: brown;
	text-align: right;
	font-family: sans-serif;
	font-size: 300%;
}
.alignBoard{
	text-align: left;
	padding: 0px 30px 0px 30px;
}

.boxp{
	background-color: whitesmoke;
}
.boxt{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 35%;
}
.date{
	font-family: sans-serif;
	color: gray;
	text-align: right;
	padding: 0px 30px 0px 0px;
}
.profilef{ 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
